{% extends 'base.html' %} 
{% load static %} 

{% block head %}
<link rel="stylesheet" href="{% static 'css/cats/cat-detail.css?v=1.0' %}" />
{% endblock %} 

{% block content %}
<main class="cat-container">
  <div class="cat-img">
    <img src="{% static 'images/sk8r-boi-cat.svg' %}" alt="{{ cat.name|default:'A skater boy cat' }}" />
  </div>
  <div class="cat-details">
    <h1>{{ cat.name|default:"Unknown Cat" }}</h1>
    {% if cat.age > 0 %}
      <h2>A {{ cat.age }} year old {{ cat.breed }}</h2>
    {% else %}
      <h2>A {{ cat.breed }} kitten.</h2>
    {% endif %}
    <p>{{ cat.description|default:"No description available." }}</p>

    <div class="cat-actions">
        <a href="{% url 'cat-update' cat.id %}" class="btn warn">Edit</a>
        <a href="{% url 'cat-delete' cat.id %}" class="btn danger">Delete</a>
    </div>
  </div>
</main>

<div class="feedings-toy-container">
  <section class="feedings">
    <div class="subsection-title">
      <h2>Feedings</h2>
      <img src="{% static 'images/cat-cone.svg' %}" alt="Cat cone illustration" />
      <img src="{% static 'images/cat-onigiri.svg' %}" alt="Cat as onigiri illustration" />
      <img src="{% static 'images/kitty-kabob.svg' %}" alt="Kitten kabob illustration" />
    </div>

    <h3>Add a Feeding</h3>
    <form
      action="{% url 'add-feeding' cat.id %}" 
      method="post" 
      class="subsection-content" 
      autocomplete="off"
      >
      {% csrf_token %} 
      {{ feeding_form.as_p }}
      <button type="submit" class="btn submit">Add Feeding</button>
    </form>

    <h3>Past Feedings</h3>
    {% if cat.feeding_set.all.count %}
      <table>
        <thead>
          <tr>
            <th>Date</th>
            <th>Meal</th>
          </tr>
        </thead>
        <tbody>
          {% for feeding in cat.feeding_set.all %}
          <tr>
            <td>{{ feeding.date|date:"M d, Y" }}</td>
            <td>{{ feeding.get_meal_display }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <div class="empty-feedings">
        <p>No feedings yet. Add one above!</p>
      </div>
    {% endif %}
  </section>
</div>
{% endblock %}
